<section class="todoapp">
    <header class="header">
        <h1 ng-click="$ctrl.test()">todos</h1>
        <!-- todo Form component -->
        <todo-form list="$ctrl.list"></todo-form>
    </header>

    <section class="main" >
        <input class="toggle-all" type="checkbox" ng-click="$ctrl.toggleAllTodos()">
        <label for="toggle-all">Mark all as complete</label>
        <!-- todo list component -->
        <todo-list
                list="$ctrl.list.items"
                                     >
        </todo-list>
    </section>

    <!-- todo footer component -->
    <todo-footer
            list = "$ctrl.list.items">
    </todo-footer>
</section>