<div class="jumbotron">
  <h1 class="display-3">{{$ctrl.title}}</h1>
  <p class="lead">Create, Track, Complete. Increase productivity and never lose track of a task again. </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Create</h4>
    <p>As a user you can create tasks as you receive them.</p>

    <h4>Track</h4>
    <p>Theses tasks are then tracked over time as you work on them.</p>

    <h4>Complete</h4>
    <p>Once marked complete they are updated to reflect this change.</p>
  </div>

  <div class="col-lg-6">
    <h4>Integrate</h4>
    <p>Pull ToDo's backend API into your personal applications. </p>

    <h4>Logging</h4>
    <p>Your tasks and goals will be logged over time.</p>

    <h4>Analysis</h4>
    <p>Gain insight into your work performance by utililzing the ToDo analysis page.</p>
  </div>
</div>
