<div class="margin-bottom-40">
    <div class="list-group">
        <p class="list-group-item current-color">
            Current Tasks
        </p>
        <div ng-repeat="task in $ctrl.list">
            <a href="#" class="list-group-item list-group-item-action d-inline-block">{{ task.description }}
                <span class="glyphicon glyphicon-remove pull-right d-inline-block red"></span>
            </a>
        </div>
    </div>
</div>

<form ng-submit="$ctrl.addTask()">
    Add a new task to your ToDo list:
    <input type="text" ng-model="$ctrl.newItem" name="item" class="form-control"/>
    <input type="submit" id="submit" value="Submit" class="btn button-color" />
</form>